# Build output
bin/
obj/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log
